*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel  .item {
    height: 350px;
    }
#glimpseContainer{
   width:80%;
}    

.active, ul li:hover{
    border-bottom: 2px solid #b1e0ff;
}
.navbar-nav li a{
    color:#fff !important;
    font-weight: 600;
    text-shadow: 4px 4px 4px #000000;
}
.navbar{
    background-image: linear-gradient(to right, #000000, #2a66b0);
    padding: 0 !important;
}
.navbar-brand img{
    height:40px;
    width: 10%;
    padding-bottom:8px;
    /* padding-left: 20px; */
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
/* ------------banner section---------- */
#banner{
    background-image: linear-gradient(to right, #000000, #2a66b0);
    padding-top: 5%;
    color:#fff;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    text-shadow: 2px 2px 10px #000000;
}
#promo-title{
    text-shadow: 2px 2px 11px #000000;
    color: #f6f8fa;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
#banner a{
    color:#fff;
    text-decoration: none;
}
.img-fluid{
    width:80%;
}
.title1 h1{
    width:fit-content;
    /* border-bottom: 2px solid #2a66b0;   */
    margin-top:5%;
    text-shadow: 2px 2px 4px #484545;
}
.title2{
    margin-bottom: 5%;
}

/* ------------services----------- */
#services{
    width: 75%;
}

.services h5{
    color: #424a52;
    /* text-shadow: 1px 1px 6px #50535e; */
}

#services p{
    font-size:small;
}
.services_images{
    width:200px;
    height:200px;
    padding:5%;
    border-radius: 50%;
}

/* ----------gallery-------- */
/* #gallery{
    background-attachment: fixed;
    background-color: #3b22ca;
    background-image: url("images/adfilm.jpg");
} */
.mycontainer {
    position: relative;
  }
  
  .image {  
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    overflow: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 2%;
  }
  
  .mycontainer:hover .image {
    filter: grayscale(100%);
    opacity: 0.8;
    transform: scale(1.1);
    
  }
  
  .mycontainer:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #df492f;
    color: white;
    font-size: 16px;
    padding: 6px 6px;
  } 
     
     #contact,#social-media{
        background:#f8f9fa;
        padding:100px 0;
        padding-top: 0%;
     }

/* -----------team--------- */
.userImg{
    width: 45%;
    border-radius: 50%;
}
#user1{
    margin-left: 70%;
}
#user2{
    margin-left: 80px;
}
#user3{
    margin-left: 70px; margin-top: 30%;
}
#user4{
    margin-top: 15%; width:70%;
}
#user5{
    margin-left: 80%; margin-top: 10%;
}

  /*---------contact----------  */
  .form-control{
      border:none;
      padding-top: 15px;
  }
  #contact .fa{
    color:#2e2e53;
    font-weight: 500;
    font-size: medium;
  }
/* ----------social-------------- */

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width:60px;
    transition:0.5s;
}
.social-icons a:hover img{
    transform:translateY(-10px);
}
/* -----------footer--------- */
.bottom-img{
    width:100%;
}
#footer{
    background-image: linear-gradient(to right, #000000, #2a66b0);
    color:#fff;
    font-weight: lighter;
}
.footer-img{
    width:100%;
}
.footer-box{
    padding:20px;
}
.footer-box img{
    width:120px;
    margin-bottom:20px;
}
.footer-box .fa{
    margin-right:8px;
    font-size: 25px;
    height: 40px;
    width:40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #000000, #15365e);
}
 btn-danger{
    background-image: linear-gradient(to right, #000000, #2a66b0); 
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#ffffff
}

/* ----------media queries---------- */
@media only screen and (max-width: 768px){
.carousel  .item {
    height: 170px;
    width: 100%;
    }
#glimpseContainer{
    width:100%;
    }
    .userImg{
        width: 25%;
        border-radius: 50%;
    }
    #user1{
        margin-left: 50%;
    }
    #user2{
        margin-left: 60px;
    }
    #user3{
         margin-top: 0%;
         margin-left: 50%;
    }
    #user4{
        margin-top: 0%;
        width:70%;
        margin-left: 50px;
        width:30%;
    }
    #user5{
        margin-top: 0%;
        margin-left: 50%; 
    }
    .navbar-brand img{
        height:40px;
        width: 20%;
        padding-bottom:8px;
    }
}
